In [23]:
def revisa_tanques(t1,t2,t3):
    promedio = (t1+t2+t3)/3
    return f"""
    Estatus de combustible
    Promedio: {promedio}%
    Nivel del Tanque 2: {t2}%
    Nivel del Tanque 3: {t3}% 
    Nivel del Tanque 1: {t1}%
    """
# Llamamos a la función que genera el reporte print(funcion(tanque1, tanque2, tanque3))
print(revisa_tanques(90, 60, 55))

def fpromedio(v):
    return (sum(v)/len(v))



def revisa_tanques2(t1,t2,t3):
    
    return f"""
    Estatus de combustible con (función actulizada)
    Promedio: {fpromedio([t1,t2,t3])}%
    Nivel del Tanque 2: {t2}%
    Nivel del Tanque 3: {t3}% 
    Nivel del Tanque 1: {t1}%
    """

print(revisa_tanques2(90, 60, 55))

    Estatus de combustible
    Promedio: 68.33333333333333%
    Nivel del Tanque 2: 60%
    Nivel del Tanque 3: 55%
    Nivel del Tanque 1: 90%


    Estatus de combustible con (función actulizada)
    Promedio: 68.33333333333333%
    Nivel del Tanque 2: 60%
    Nivel del Tanque 3: 55%
    Nivel del Tanque 1: 90%

## Ejercicio 2

In [12]:
# Función con un informe preciso de la misión. Considera hora de prelanzamiento, tiempo de vuelo, destino, tanque externo y tanque interno
def reporte(tiempo_prelanzamiento, tiempo_vuelo, destino, tanque_externo, tanque_principal):
    return f"""
    Mision a: {destino}
    Minutos de viaje: {tiempo_prelanzamiento + tiempo_vuelo} minutos
    Total de combustible: {tanque_externo +tanque_principal} galones
    """

print(reporte(14, 51, "Moon", 200000, 300000))

##
# Escribe tu nueva función de reporte considerando lo anterior

def reporte2(destination, *minutes, **fuel_reservoirs):
    return f"""
    Mision a {destination}
    Minutos de viaje: {sum(minutes)} minutes
    Combustible : {sum(fuel_reservoirs.values())}
    """

print(reporte2("Mars", 1, 1, 1, 1, main=300000, external=200000))

    Mision a: Moon
    Minutos de viaje: 65 minutos
    Total de combustible: 500000 galones


    Mision a Mars
    Minutos de viaje: 4 minutes
    Combustible : 500000

In [22]:
def reporte3(destino, *minutos, **reservas):
    main_report = f"""
    mision a: {destino}
    Total travel time: {sum(minutos)} minutos
    Total fuel left: {sum(reservas.values())}
    """
    for tank_name, gallons in reservas.items():
        main_report += f"{tank_name}: {gallons} galones \n    "
    return main_report

print(reporte3("Moon", 8, 11, 55, tanque1=300000,  tanque2=200000))

    mision a: Moon
    Total travel time: 74 minutos
    Total fuel left: 500000
    tanque1: 300000 galones
    tanque2: 200000 galones